* {
  box-sizing: border-box;

}

body {
  margin: auto;
  text-align: center;
  font-family: Raleway, sans-serif;
  background: linear-gradient(#11007a, #089398);
  line-height: 1.8em;
}

section {
  display: inline-block;
  padding: 15px 15px 10px 15px;
  margin: 0 auto;
  background: #000870;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  text-align: center;
}

canvas {
  margin: 0 auto;
}


img {
  height: 400px;
  display:inline;
}

.contain{
    display: block;
    vertical-align: middle;
    text-align:center;
}

h1 {
  color: #fff;
  font-size: 3em;
  text-align: center;
}

h2 {
  color: #fff;
  font-size: 2.5em;
  text-align: center;
}
