* {
  box-sizing: border-box;
  
}

img {
  height: 400px;
  display:inline;
}

.contain{
    display: block;
    vertical-align: middle;
    text-align:center;
}

h1 {
  color: navy;
  font-size: 3em;
  text-align: center;
}

h2 {
  color: navy;
  font-size: 2.5em;
  text-align: center;
}
